.splash{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    grid-gap: 2vh;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 7px 5px var(--font-color);
    background: floralwhite;
    font-size:calc(16px + 6 * ((100vw - 320px) / 680));
    background-repeat: no-repeat;
    color: antiquewhite;
    background-position: right;
    height: 90vh;
    padding:1%;
    background-attachment: fixed;
    background-size:cover;
}
.pentagon {
      position: relative;
      width: 54px;
      box-sizing: content-box;
      border-width: 50px 18px 0;
      border-style: solid;
      border-color: #a62e5ba8 transparent;
      transform: rotate(92deg);
    }
.pentagon:before {
      content: "";
      position: absolute;
      height: 0;
      width: 0;
      top: -85px;
      left: -18px;
      border-width: 0 45px 35px;
      border-style: solid;
      border-color: #663648 transparent
    }
#explore{
    background: none;
    border-radius: 100px;
    border: 1px solid white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 32px;
    color: white;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    text-decoration: none;
    text-shadow: none;
    transition:background ease-out 0.3s;

}
#explore:hover{
  cursor:pointer;
  background: whitesmoke;
  color:var(--font-color);
  transition: background ease-in 0.3s;
}
#explore:focus{
  outline: none;
  transition: none;
}

@media only screen and (max-width: 600px) {

  .splash{
    height:60vh !important;
       background-attachment: unset !important;
    
  }
}

