

#Projects >div >*{
    /* font-size:var(--responsive-font); */
    width:100%;
    font-size: 2rem;
}
#Projects >div >img{
   border-radius: 6px;
   box-shadow:3px 7px 4px grey;
}
#ProjectLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap:1vw;
    margin-top: 1%;
}
#ProjectLinks >button{
    outline: none;
    padding:10px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 1px 2px 3px #a0013b;
}
#ProjectLinks >button:nth-child(1){
    color:white;
    background-color: #000000f0;
}
#ProjectLinks >button:hover{
   background: linear-gradient(45deg, #210130, #650125);
   cursor: pointer;
}
#ProjectLinks >button:nth-child(2):hover{
    color:white;
    /* background-color: #000000f0; */
}