#Contact{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    grid-gap: 1vw;
    background: #0000005e;
}
#Contact >div:nth-child(1){
    background:rgb(255 255 255 / 90%);
    padding:2%;
    box-shadow:1px 3px 4px grey;
    min-width:35%;
    border-radius:5px;
    margin:3%;
}
#Contact >div > h2{
    font-size: 3rem;
    margin:0;
    border-bottom: 1px solid grey;
    margin-bottom: 2%;
    text-align: center;
}
#Contact >div >div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 1vw;
    max-width: 700px;
    margin-top: 1vw;
}
#Contact >div > div > *:nth-child(1){
    flex:1;
    min-width: 60px;
}
#Contact >div > div > *:nth-child(2){
    border-radius: 5px;
    border: 3px solid rgba(128, 128, 128, 0.644);
    padding: 1%;
    font-size: 20px;
    flex: 8 1;
}
/* #Contact >div > div:nth-child(4){
    flex-direction: column;
} */
#Contact >div > div > textarea{
  height:200px;
}
#Contact >div  >div>button{
    width:100%;
    border-radius:5px;
    text-align: center;
    color:white;
    background-color: #4E39CC;
    padding: 2%;
    font-size: 1.1rem;
    margin-top:2%;
}
button[type=submit]{
    cursor:pointer;
}
#Modal{
    background-color: #00000073;
    margin: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    opacity: 0%;
    transition: all 0.5s ease-in;
}
#Modal > div {
    background-color: white;
    /* padding:1vw; */
    border-radius: 4px;
    transition:all 0.5s;
    border-radius:23px;
}
#Modal >div >div{
   color:white;
   background: linear-gradient(45deg, #a0003c, #35014c);
   margin: 0;padding: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
#Modal >div >div>*{
    margin:0;
}
#modalClose:hover{
    cursor:pointer;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  #Contact >div{
    width:90%;
  }
  #Contact >div >div{
      flex-direction: column;
      align-items: unset;
      margin: 10px;
  }
  #Contact >div > div > *:nth-child(2){
    width: 97%;
  }
  #Contact >div > div > *:nth-child(1){
      margin: 0;
  } 

}