.header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: whitesmoke;
    box-shadow: 1px 2px 5px var(--font-color);
        border-bottom: 2px solid #8080807a;
}
#socials{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
}

@media screen and (max-width: 600px) {
  .header{
    flex-wrap: wrap;
  }
}


