.header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.menus{
    display: flex;
    list-style-type: none;
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
}
.menus>li>a{
  color:unset;
  border:unset;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: unset;
}
.menus>li>a:hover{
    cursor: pointer;
    transition: 0.1s;
    border-bottom:3px solid#282c34a8;
}
.menus>li>a:focus{
   outline: none;
   border:none;
}


.menus .icon{
    display:none;
}
@media screen and (max-width: 600px) {
  .header{
    flex-direction: column;
  }
  .menus{
       margin:0;
       padding:1%;
       border-top: 4px solid #bb5c6c;
       grid-gap:unset;
       width:100%;
  }
  .menus > li{
    border: 2px solid #c397a6f5;
    padding: 2%;
    border-radius: 100px;
    flex: 1;
    text-align: center;
  }
  .menus > li > a:hover{
    border:none;
  }

}

/* @media screen and (max-width: 600px) {
  .menus.responsive {position: relative;}
  .menus.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menus li {
    float: none;
    display: block;
    text-align: left;
  }
} */