@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
  border:0;
  font-family: 'Pacifico', cursive;
}
html{
  scroll-behavior: smooth;
}
@media only screen and (max-width: 600px) {
  html {
    font-size:var(--responsive-font);   
  }
  .splash{
    height:60vh !important;
  }
}
