@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
  border:0;
  font-family: 'Pacifico', cursive;
}
@media only screen and (max-width: 600px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680)) !important;
  }
}
